body {
    padding: 0;
    margin: 0;
}

.bg-banner {
    background-image: url('../img/bannerclean.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.bg-global {
    color: #545454;
    font-size: 100%;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bg-navalign {
    text-align: center;
}

.bg-global-2 {
    color: #545454;
    font-size: 90%;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bg-pesquisa {
    background-color: #9f0000;
}

.bg-home:hover {
    color: #9f0000;
    transition: 0.3s;
}

.bg-collapse {
    background-color: #f0f0f0d3;
}

.bg-button {
    border-radius: 20px;
}

.bg-button:hover {
    color: #9f0000;
    transition: 0.3s;
}

.animate__backInDown {
    animation: animate__backInDown;
    animation-duration: 1s;
}

.animate__backInUp {
    animation: animate__backInUp;
    animation-duration: 2s;
}

.bg-navbar {
    top: 0;
    position: sticky;
    padding: 10px;
    z-index: 99;
}

.bg-menubutton {
    color: #415561;
    font-size: 150%;
    padding: 10px;
}

.bg-alinhamento {
    margin-top: 100px;
}

.bg-bannerstyle1 {
    color: #415561;
    font-size: 250%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.bg-bannerstyle2 {
    color: #363636;
    font-size: 150%;
    font-family: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.bg-bannerstyle3 {
    color: #9f0000;
}

.btnbanner input {
    background-color: #9f0000;
    border: 2px solid #9f0000;
    color: #ffffff;
    border-radius: 25px;
    font-size: 125%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    margin-top: 10px;
    margin-left: 30px;
    width: 250px;
    height: 100%;
    cursor: pointer;
}

.btnbanner input:hover {
    background: none;
    color: #9f0000;
    transition: 0.5s;
}

.bg-search:hover {
    color: #9f0000;
}

.bg-stylebackgroundheader {
    border: 2px solid #415561;
    padding-top: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.bg-noticias {
    margin-left: 0;
    padding-bottom: 10px;
    padding-top: 20px;
    margin-right: 5px;
}

.bg-cursor {
    cursor: pointer;
    border: 3px solid #415561;
    padding: 10px;
    border-radius: 10px;
}

.bg-cursor-secundario {
    cursor: pointer;
    border: 2px solid #415561;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 0px 2px 15px rgb(0 0 0 /10%);
}

.bg-cursor:hover {
    color: #9f0000;
}

.bg-cursor-secundario:hover {
    transition: 2s;
}

.espaçamento {
    padding-inline-start: 20px;
}

.bg-styleheader {
    color: #9f0000;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.bg-img-evento {
    width: 100% !important;
    height: 65vh;
    object-fit: cover;
    border-radius: 20px;
    opacity: 0.8;
}

.bg-fundoeventos {
    background-color: #ffffff;
    border: 2px solid #363636;
    border-radius: 20px;
}

.bg-text-evento {
    font-size: 20px;
    color: #9f0000;
}

.bg-text2-evento {
    font-size: 15px;
    color: #363636;
}

.bg-rodapé {
    background-color: #3e3e3e;
}

.inferior-rodapé {
    background-color: #2e2e2e;
    height: 20vh;
}

.bg-txtrodapé {
    color: #ffffff;
    margin-top: 5px;
}

.bg-txtrodapé2 {
    color: #ffffff;
    margin-top: 30px;
}

.decor {
    color: #ffffff;
}

.decor:hover {
    color: #9f0000;
    text-decoration: none;
    transition: 0.4s;
}

.bg-margin {
    margin-top: 20px;
}

.tamanho {
    font-size: 40px;
    margin-top: 10px;
    padding: 10px;
}

.copy-css {
    font-weight: bold;
}

.alinhamento-contato-endereco {
    font-size: 90%;
}

#topbar {
    background: #415561;
    padding: 10px 0;
    font-size: 14px;
}

#topbar .contact-info i {
    font-style: normal;
    color: #aa0e10;
}

#topbar .contact-info i a,
#topbar .contact-info i span {
    padding-left: 5px;
    color: #fff;
}

#topbar .contact-info i a {
    line-height: 0;
    transition: 0.3s;
}

#topbar .contact-info i a:hover {
    color: #aa0e10;
}

#topbar .social-links a {
    color: #bababa;
    line-height: 0;
    transition: 0.3s;
    margin-left: 10px;
}

#topbar .social-links a:hover {
    color: white;
}

.bg-font {
    font-family: "Raleway", sans-serif;
}

.pesquisa {
    color: #ffffff;
}

.pesquisa:hover {
    background: none;
    border: 1px solid #9f0000;
}